[Unit]
Description=Actkbd: Daemon for X-independent shortcuts

[Service]
ExecStart=/usr/local/sbin/actkbd -Dd /dev/input/by-id/usb-Logitech_USB_Keyboard-event-kbd
RemainAfterExit=yes
Type=forking
Restart=always

[Install]
WantedBy=default.target


